.video__main {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 8%;
}

.video-wrapper {
    /* margin: 8%; */
    height: 500px;
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    flex-wrap: wrap;
}

.video_container {
    display: flex;
    /* margin: 8%; */
    height: 400px;
    /* background-color: rgb(219, 38, 38); */
    /* width: 100%; */
    flex-wrap: wrap;
}

.video-div {
    height: 400px;
    flex: 4;
    /* background-color: rgb(235, 14, 14); */
    border-radius: 10px;
    position: relative;
}

.join-div {
    height: 400px;
    background-color: rgb(255, 255, 255);
    flex: 2;
}

.audio-video-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 15%;
    position: absolute;
    bottom: 10px;
    
}
.audio-meter{
    position: absolute;
    bottom: 10px;
    left: 15px;
    height: 10px;
}
.join__user__name{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.video-view {

    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;

}

.video-not-view {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.audio-video-btn .audio-btn {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    color: rgb(247, 5, 5);
    border-radius: 50%;
    font-size: x-large;
}


.audio-video-btn .video-btn {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    color: rgb(252, 2, 2);
    border-radius: 50%;
    font-size: x-large;
    margin-left: 20px;
}

.setting-audio-video {
    display: flex;
    margin-top: 20px;
}

.select-audio,
.select-speaker,
.select-video {
    width: 250px;
    height: 40px;
    display: flex;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
}

#selector {
    width: 200px;
    border: none;
    color: red;
}