/* input[type="file"] {
    opacity: 0;
    cursor: pointer;
    width: 32px;
} */
/* 
#file-upload-btn {
    background-color: #e22020;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-self: center;
    align-items: center;
} */