.video__call__container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(105, 214, 22); */
    /* padding: 20px 60px; */
    height: 98%;
    margin: 5px;
    justify-content: center;

}

.user1 {
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 10px;
    flex: 1;
    width: 100%;
}

.footer {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.call-controls {
    flex: 3;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slug-time {
    display: flex;
    flex: 1;
    color: black;
    display: flex;
    gap: 10px;

}

.control-bts{
    flex: 2;
    display: flex;
    gap: 10px;

}
.username {
    margin-left: 100px;
}
.controls {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}